.pianoContainer {
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    .key {
        border-radius: 0 0 5px 5px;
        font-size: 0.75em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5px;
        cursor: pointer;

        &.white {
            border: 1px solid grey;
            height: 100px;
            min-width: 30px;

            &:hover {
                background-color: lightblue;
            }
        }

        &.black {
            border: 1px solid black;
            background: black;
            color: white;
            height: 75px;
            min-width: 20px;
            margin: 0 -10px -10px;
            z-index: 2;

            &:hover {
                background-color: lightblue;
                border-color: lightblue;
                color: black;
            }
        }
    }
}