.staff {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;

    .note {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .space {
        background-color: white;
        height: 5px;
        cursor: pointer;
        
        & > div {
            position: relative;
            top: -50%;
        }
    }

    .line {
        background-color: black;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color: white;
        height: 10px;
        box-sizing: border-box;
        cursor: pointer;
        
        & > div {
            position: relative;
            top: calc(-50% - 3px);
        }
    }

    .ledgerLine {
        background-color: white;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        color: white;
        height: 10px;
        box-sizing: border-box;
        cursor: pointer;
        
        & > div {
            position: relative;
            top: calc(-50% - 3px);
        }

        &:hover {
            background-color: grey;
        }
    }
}