$size_note: 10px;
$size_hole: 6px;

.wholeNote {
    border-radius: 50%;
    height: $size_note;
    width: $size_note * 1.5;
    z-index: 2;
    color: black;

    &.sharp::after {
        content: '#';
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        position: relative;
        left: -16px;
        bottom: 16px;
    }
    
    &.black {
        background-color: black;
        color: black;
    }

    &.green {
        background-color: green;
        color: green;
    }

    &.red {
        background-color: red;
        color: red;
    }

    &.gray {
        background-color: gray;
        color: gray;
    }

    & > div {
        height: $size_hole * 1.25;
        width: $size_hole;
        background-color: white;
        border-radius: 50%;
        position: relative;
        left: calc(50% - $size_hole / 2);
        top: calc(50% - $size_hole / 2);
    }
}
