.noteDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
    
    .noteDisplay {
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        padding: 10px;
        min-height: 60px;
        min-width: 180px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;

        &.green {
            border-color: rgb(0, 128, 0);
            background-color: rgba(0, 128, 0, 0.25);
        }

        &.grey {
            border-color: rgb(128,128,128);
            background-color: rgba(128, 128, 128, 0.25);
        }

        &.red {
            border-color: red;
            background-color: rgba(255, 0, 0, 0.25);
        }
    }
}
